html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('https://static.skillshare.com/uploads/project/220818/cover_1242_4a30db2afe84d5b231794612ccdd40ad.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}
/**/
h1 {
  text-align: center;
  font-size: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
  color: white;
  -webkit-text-stroke: 5px black;
}

h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.start {
    font-family:Georgia, 'Times New Roman', Times, serif, cursive;
    background-color:firebrick;
    font-size: 25px;
}

#timer{
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    color: white;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.grid {
  width: 400px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('./assets/mallet.png'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
  background:url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  transform: scale(1.1);
}
